<?xml version="1.0" encoding="utf-8" ?>

<component 
    name="Menu" 
    extends="Group" 
    xsi:noNamespaceSchemaLocation="https://devtools.web.roku.com/schema/RokuSceneGraph.xsd">

    <script type="text/brightscript" uri="pkg:/source/Utils/i18nUtils.brs" />
    <script type="text/brightscript" uri="pkg:/source/Utils.brs" />
    <script type="text/brightscript" uri="pkg:/source/Enums.brs" />
    
    <script type="text/brightscript" uri="Menu.brs"/>

    <interface>
        <!-- Paramentros de Entrada -->
        <field id="initConfig" type="boolean" value="false" onChange="configureMenu"/>
        <field id="action" type="string" value="collapse" onChange="changeActionAnimate"/>
        <field id="items" type="array" onChange="itemData"/>
        <field id="loadHome" type="boolean" value="false" onChange="onShowHome"/>
        
        <!-- Paramentros de Salida -->
        <field id="selectedItem" type="string"/>
    </interface>

    <children>
        <Poster
            id="backgroundMenu"
            translation="[0,0]"
            opacity="0.99"
            uri="pkg:/images/shared/menu_expanded_bg.png" />
            
        <LayoutGroup
            id="avatarMenuContainer"
            translation="[70, 70]"
            layoutDirection="horiz"
            horizAlignment="left"
            vertAlignment="center"
            opacity="0.0"
            itemSpacings="[10]" >
            <Group>
                <Poster 
                    id="avatarImage"
                    width="65"
                    height="65"
                    visible="false"
                    focusable="true"
                    loadDisplayMode="scaleToFit"/>

                <Rectangle 
                    id="avatarImageOpacity"
                    translation="[0,0]"
                    width="65"
                    height="66"
                    color="#000000"
                    opacity="0.33"/>
                    
                <SelectionBox id="selectedProfileChange" translation="[0, 0]" size="[62, 62]" visible="false"/>
            </Group>
            
            <LayoutGroup
                layoutDirection="vert"
                horizAlignment="left"
                vertAlignment="top"
                itemSpacings="[5]" >
                <Label 
                    id="avatarName"
                    visible="false"
                    font="font:TinySystemFont" />
                <Label 
                    id="profileChange"
                    visible="false"
                    font="font:TinySystemFont" />
            </LayoutGroup>
        </LayoutGroup>


        <Rectangle 
            id="menuContainer"
            color="0x00000000"
            translation="[0, 0]">
            <LayoutGroup
                id="principalMenuLayoutGroup"
                layoutDirection="vert"
                horizAlignment="left"
                vertAlignment="center"
                itemSpacings="[20]" />
        </Rectangle>


        <LayoutGroup
            id="secondaryMenuLayoutGroup"
            layoutDirection="vert"
            horizAlignment="left"
            vertAlignment="top"
            opacity="0.0"
            itemSpacings="[10]" >
            <Label 
                id="settingLabel"
                focusable="true"
                font="font:TinySystemFont" />

            <Label 
                id="exitLabel"
                focusable="true"
                font="font:TinySystemFont"/>

            <Label 
                id="logoutLabel"
                focusable="true"
                font="font:TinySystemFont"/>
        </LayoutGroup>


        <!-- Animations -->
        <!-- Expand -->
        <Animation
            id="MenuExpandAnimation"
            duration="0.5"
            repeat="false"
            optional="true"
            easeFunction="linear" >
            <FloatFieldInterpolator
                id="menuExpandVector2DFAnimation"
                fieldToInterp="backgroundMenu.width"
                key="[0.0, 1.0]" />
            <FloatFieldInterpolator
                fieldToInterp="avatarMenuContainer.opacity"
                key="[0.0, 1.0]"
                keyValue="[0.0, 1.0]" />
            <FloatFieldInterpolator
                fieldToInterp="secondaryMenuLayoutGroup.opacity"
                key="[0.0, 1.0]"
                keyValue="[0.0, 1.0]" />
        </Animation>

        <!-- Collapse -->
        <Animation
            id="MenuCollapseAnimation"
            duration="0.5"
            repeat="false"
            optional="true"
            easeFunction="linear" >
            <FloatFieldInterpolator
                id="menuCollapseVector2DFAnimation"
                fieldToInterp="backgroundMenu.width"
                key="[0.0, 1.0]" />
            <FloatFieldInterpolator
                fieldToInterp="avatarMenuContainer.opacity"
                key="[0.0, 1.0]"
                keyValue="[1.0, 0.0]"/>
            <FloatFieldInterpolator
                fieldToInterp="secondaryMenuLayoutGroup.opacity"
                key="[0.0, 1.0]"
                keyValue="[1.0, 0.0]" />
        </Animation>
    </children>
</component>
